#read .container{
	background: #e83e8c;
	width: 50%;
    min-height: 50%;
    height: 80vh;
    border-radius: 15px;
}
.form-control {
	border-radius: 30px !important;
}
.card {
	min-width: 40%;
}
h1 {
	text-align: center;
}
.btn {
	width: 450px;
    border-radius: 10px;
}
.login-wrapper {
	background-color: cyan;
	margin-top: 15%;
	color: red;
}
.list-wrapper {
	width: 50%;
	background-color: cyan;
	margin-top: 10%;
}
i {
	font-size: 2rem;
    color: white;
}
.list {
	background-color: white;
}
.list i {
	font-size: 2rem;
    color: cyan;
}
